scipy==1.3.2
torchsummary==1.5.1
moviepy==1.0.1
tensorflow_gpu==1.15.0
pandas==0.25.3
Werkzeug==0.16.0
Keras==2.2.4
numpy==1.17.4
torch==1.3.1
torchvision==0.4.2
opencv_contrib_python==4.1.2.30
Flask==1.1.1
Pillow==8.1.1
scikit_learn==0.22.2.post1
tensorflow==1.15.0
